<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css" />
  <title><%= title %></title>
</head>

<body>
  <%- include('navbar') %>
  <div class="edit-project">
    <form method="POST" action="<%= action %>">
      <label>
        <div class="label-text">Project Name:</div>
        <input class="name" name="name" type="text" value="<%= project.name %>" />
      </label>
      <br />
      <label>
        <div class="label-text">Department:</div>
        <input class="department" name="department" type="text" value="<%= project.department %>" />
      </label>
      <br />
      <label>
        <div class="label-text">Tasks:</div>
        <input class="tasks" name="tasks" type="text" value="<%= project.tasks.join(',') %>" />
      </label>
      <br />
      <input type="submit" value="Submit" />
      <a href="<%= `/project/${project.id}` %>"><input type="button" value="Back" /></a>
    </form>
  </div>
</body>

</html>