<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('navbar') %>
    <br><br>

   <div><%= recipe.name %></div>

   <br>
   Cuisine:
   <div><%= recipe.cuisine %></div>
   <div>
    <br>
    Ingredients :
    <% recipe.ingredients.map(ingredient => { %>
      <div> <%= ingredient %> </div>
    <% }); %>
   </div>

   <br>
   <a href= <%= recipe.id+"/edit" %>> Edit </a>
   <a href= <%= recipe.id+"/delete" %>> Delete </a>
  </body>
</html>
